<mat-card class="appcard">
    <mat-card-header class="head">
        HOCLOMAC Small Scale Units Release
    </mat-card-header>
    <mat-list class="applist">
        <mat-list-item class="appitem">
            <span class="appheader" matListItemTitle>Approval for release of small scale units</span>
            <span class="appdate" matListItemLine>Date&Time: 5/5/2023 9:26 am</span>
            <p class="appbody">Approval for the release of a small scale units for the Hospitals in Laguna and Antipolo City. The unit will be lent for three days in accordance with the MOA. A set of questions will be given to the hospitals after the lending period.</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><button class="approve">Approved</button></mat-list-item>
        <mat-list-item role="listitem"><button class="reject">Rejected</button></mat-list-item>
        
    </mat-list>
    </mat-card>